<ion-view title="FAQ" id="page12">
  <ion-content padding="true" style="background: url(img/SEKfcZRvSSQna55z6hOQ_austin.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h2 id="fAQ-heading9" style="color:#FFFFFF;">Frequently Asked Questions</h2>
    <div class="spacer" style="height: 30px;"></div>
    <div class="item item-body" id="fAQ-list-item-container13">
      <h2 id="fAQ-heading12" style="color:#000000;font-weight:600;">Will meals be provided?</h2>
      <div id="fAQ-markdown9" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:11px;">Yes, attendees will be provided one meal per day. Please plan on providing your own meals for the other two.</p>
      </div>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="item item-body" id="fAQ-list-item-container15">
      <h2 id="fAQ-heading13" style="color:#000000;font-weight:600;">How long will the conference last?</h2>
      <div id="fAQ-markdown21" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:11px;">The event will last for 4 days.</p>
      </div>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="item item-body" id="fAQ-list-item-container16">
      <h2 id="fAQ-heading14" style="color:#000000;font-weight:600;">What speakers will be attending the conference?</h2>
      <div id="fAQ-markdown27" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;font-size:11px;">You are able to see the speakers list via the menu bar within the app.</p>
      </div>
    </div>
  </ion-content>
</ion-view>