<ion-view title="Home" id="page11">
  <ion-content padding="true" style="background: url(img/Ow6WX2ZkRZ2KwXdG20RR_austin.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h2 id="home2-heading2" style="color:#FFFFFF;">Join us in Austin, TX</h2>
    <h3 id="home2-heading3" style="color:#FFFFFF;">Nov. 5-8, 2017</h3>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div id="home2-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:16px;">In partnership with EDSIG, ISCAP is proud to sponsor EDSIGCON and CONISAR 2017</p>
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div class="item item-body" id="home2-list-item-container10">
      <h2 id="home2-heading7" style="color:#000000;font-weight:600;text-align:center;">JISAR</h2>
      <div id="home2-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Journal of Information Systems Applied Research</p>
      </div>
      <a href-inappbrowser="http://www.jisar.org/" id="home2-button7" class="button button-positive  button-block">WWW.JISAR.ORG</a>
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div class="item item-body" id="home2-list-item-container9">
      <h2 id="home2-heading6" style="color:#000000;font-weight:600;text-align:center;">ISEDJ</h2>
      <div id="home2-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Information Systems Education Journal</p>
      </div>
      <a href-inappbrowser="http://www.isedj.org/" id="home2-button6" class="button button-positive  button-block">WWW.ISEDJ.ORG</a>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div class="item item-body" id="home2-list-item-container12">
      <h2 id="home2-heading8" style="color:#000000;font-weight:600;text-align:center;">JISE</h2>
      <div id="home2-markdown22" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Journal of Information Systems Education</p>
      </div>
      <a href-inappbrowser="http://www.jise.org/" id="home2-button8" class="button button-positive  button-block">WWW.JISE.ORG</a>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div class="item item-body" id="home2-list-item-container5">
      <h1 id="home2-heading5" style="color:#000000;font-weight:400;">Our Mission</h1>
      <div id="home2-markdown11" class="show-list-numbers-and-dots">
        <p style="color:#000000;">ISCAP and EDSIG have a shared mission to strengthen information systems education by encouraging dialog between practitioners and academic professionals, facilitating linkages and collaboration opportunities between industry and academia, disseminating
          innovations and best practices through the publication of scholarly journals, and organizing conferences in information systems education and information systems applied research.</p>
      </div>
    </div>
  </ion-content>
</ion-view>