<ion-view title="Schedule" id="page13">
  <ion-content padding="true" style="background: url(img/Y39j35zARPKuueVwO58g_austin.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 35px;"></div>
    <h2 id="schedule-heading23" style="color:#FFFFFF;">Schedule</h2>
    <div id="schedule-markdown32" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">The following is a list of events that all ISCAP attendees are able to participate in through the course of the conference.</p>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <ion-list id="schedule-list1">
      <ion-item class="item-icon-left positive" id="schedule-list-item1">
        <i class="icon ion-ionic"></i>Featured Programs</ion-item>
    </ion-list>
    <div class="item item-body" id="schedule-list-item-container19">
      <h2 id="schedule-heading20" style="color:#000000;font-weight:600;text-align:center;">An Intro to Data Mining</h2>
      <div id="schedule-markdown15" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Come and listen to Dr. Kareem Dana talk about the exciting world of Data Mining on November 6, 2017 at 10:00am</p>
      </div>
      <div id="schedule-markdown29" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div class="item item-body" id="schedule-list-item-container20">
      <h2 id="schedule-heading21" style="color:#000000;font-weight:600;text-align:center;">A Brief Overview of IP Tables</h2>
      <div id="schedule-markdown30" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Put filler info about schedule here via firebase</p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div class="item item-body" id="schedule-list-item-container21">
      <h2 id="schedule-heading22" style="color:#000000;font-weight:600;text-align:center;">How to Use Logical Volume Management in a Linux Environment</h2>
      <div id="schedule-markdown31" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Put filler info about schedule here via firebase</p>
      </div>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <ion-list id="schedule-list2">
      <ion-item class="item-icon-left positive" id="schedule-list-item2">
        <i class="icon ion-ionic"></i>Additional Events</ion-item>
    </ion-list>
    <div class="item item-body" id="schedule-list-item-container14">
      <div id="schedule-markdown17" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:11px;">How to remove your mothers 30 toolbars from Internet Explorer - Jeff Babb</p>

        <p style="color:#000000;font-size:11px;">How to Set Up Your New Computer - Kareem Dana</p>

        <p style="color:#000000;font-size:11px;">What to do when you get a virus - Jeffery Babb</p>

        <p style="color:#000000;font-size:11px;">Where to download more RAM - Jeffery Babb</p>

        <p style="color:#000000;font-size:11px;">How to Handle CryptoLocker - Kareem Dana</p>
      </div>
    </div>
    <div class="spacer" style="height: 70px;"></div>
  </ion-content>
</ion-view>