<ion-view title="Social Media" id="page2">
  <ion-content padding="true" style="background: url(img/VrnEaaWtSde5nMrxsknB_austin.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="socialMedia-heading1" style="color:#FFFFFF;">Follow us on social media</h1>
    <div class="spacer" style="height: 55px;"></div>
    <a href-inappbrowser="http://vine.co/" id="socialMedia-button12" class="button button-positive  button-block">Vine</a>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <a href-inappbrowser="www.googleplus.com" id="socialMedia-button13" class="button button-positive  button-block">Google Plus</a>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <a href-inappbrowser="www.myspace.com" id="socialMedia-button14" class="button button-positive  button-block">Myspace</a>
  </ion-content>
</ion-view>