<ion-view title="Speakers" id="page3">
  <ion-content padding="true" style="background: url(img/U8zZfYAyS7WvsJnuzf3V_austin.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <h1 id="speakers-heading10" style="color:#FFFFFF;">Speakers</h1>
    <div id="speakers-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">The following is a list of speakers that will be presenting at this years ISCAP conference.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="item item-body" id="speakers-list-item-container11">
      <h2 id="speakers-heading11" style="color:#000000;font-weight:600;text-align:center;">Jeff Babb</h2>
      <div>
        <img src="img/9dacyKSOQWh6NMH7MWP1_jbabb_72.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 30px;"></div>
      <div id="speakers-markdown13" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Dr. Babb teaches computer programming, software development, game development, web development and networking.</p>

        <p style="color:#000000;">Dr. Babb has extensive experience in mentoring and coaching students in software design competitions, including coaching two winning teams in the national championship for Microsoft’s Imagine Cup Software Design Invitational.</p>

        <p style="color:#000000;">Dr. Babb’s research interests include learning and software development method use, information systems security management, and data visualization and geographic information systems.</p>
      </div>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div class="item item-body" id="speakers-list-item-container17">
      <h2 id="speakers-heading16" style="color:#000000;font-weight:600;text-align:center;">Kareem Dana</h2>
      <div>
        <img src="img/JX30gW9kRG0p9OniNxiB_kdana_72_150.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 30px;"></div>
      <div id="speakers-markdown24" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Mr. Dana joined the College of Business in 2012. He receive B.A. and M.S. degrees in computer science from Duke University. </p>

        <p style="color:#000000;">Mr. Dana teaches the introductory course in information science and a course in database system design. Mr. Dana's research interest includes topics in data mining and Web technology. </p>
      </div>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div class="item item-body" id="speakers-list-item-container18">
      <h2 id="speakers-heading17" style="color:#000000;font-weight:600;text-align:center;">Amjad Abdullat</h2>
      <div>
        <img src="img/IM6Kczh7SJaD4TK0NlO6_aabdullat1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 30px;"></div>
      <div id="speakers-markdown26" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Dr. Abdullat teaches courses at the graduate and undergraduate levels in the areas of Management Information Systems, Database Design System Analysis and Design, Object Oriented Analysis and Design, and Telecommunications Management.</p>

        <p style="color:#000000;">Dr. Abdullat's research interests are transdisciplinary. His research combines technical skills from information systems and analytical skills from economics. He focuses his research on the development and deployment of advanced information technologies
          and approaches to information systems education.</p>
      </div>
    </div>
  </ion-content>
</ion-view>