<ion-view title="Traffic Conditions" id="page10">
  <ion-content padding="true" style="background: url(img/RDGBlOgPRbayEN1tLfr7_austin.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options" style="height:300px;">
      <ui-gmap-layer type="TrafficLayer" show="map.showTraficLayer"></ui-gmap-layer>
    </ui-gmap-google-map>
    <div class="item item-body" id="trafficConditions-list-item-container4">
      <div id="trafficConditions-markdown8" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Please account for traffic when planning your trip here. Expect significant delays in your travels depending on the time of day. We have provided a map in real time showing some areas to avoid.</p>
      </div>
    </div>
  </ion-content>
</ion-view>